<main>
    <video #video controls autoplay></video>
</main>
<aside *ngIf="chatEnabled && chatMessages">
    <mat-card *ngFor="let msg of chatMessages">
        <div class="infobar">
            <span class="username" (click)="electron.openProfile(msg.content.user.id)">{{ msg.content.user.name }}</span>
            <div style="flex: 1 1 auto;"></div>
            <span class="time" (click)="goToTime(getMessageTimeOffset(msg.timestamp))">{{ getMessageTimeOffset(msg.timestamp) | duration }}</span>
        </div>
        <span class="message">{{ msg.content.content }}</span>
    </mat-card>
</aside>
<aside class="loading" *ngIf="chatEnabled && !chatMessages && !chatError">
    <div><mat-spinner></mat-spinner></div>
</aside>
<aside class="error" *ngIf="chatEnabled && chatError">
    <span>{{ chatError }}</span>
</aside>