<main>
    <video #video controls autoplay></video>
</main>
<aside *ngIf="chatMessages">
    <mat-card *ngFor="let msg of chatMessages">
        <div class="infobar">
            <span class="username">{{ msg.content.user.name }}</span>
            <span class="time">{{ getMessageTimeOffset(msg.timestamp) }}</span>
        </div>
        <span class="message">{{ msg.content.content }}</span>
    </mat-card>
</aside>
<aside class="loading" *ngIf="!chatMessages && !chatError">
    <div><mat-spinner></mat-spinner></div>
</aside>
<aside class="error" *ngIf="chatError">
    <span>{{ chatError }}</span>
</aside>