<lmt-toolbar></lmt-toolbar>
<lmt-search-form (onSubmitted)="searchSubmitted($event)"></lmt-search-form>

<main>
    <div class="cardList hashtagSearch" *ngIf="!error && replays">
        <mat-card *ngFor="let replay of replays" [class.downloaded]="download.wasDownloaded(replay.vid)">
            <section class="buttons">
                <img [class.female]="replay.sex == 0" [class.male]="replay.sex == 1" src="{{ replay.uface }}">
                <div class="name">
                    <span>
                        <mat-icon class="live" matTooltip="Live now" *ngIf="replay.online == 1">fiber_manual_record</mat-icon>
                        {{ replay.uname }}
                    </span>
                    <small *ngIf="electron.lastViewed(replay.userid) != -1">last viewed {{ electron.lastViewed(replay.userid) | amTimeAgo }}</small>
                </div>
                <button mat-button (click)="electron.openProfile(replay.userid)">Replays</button>
                <button mat-button (click)="electron.openFollowingWindow(replay.userid, replay.uname)">Following</button>
                <button mat-button (click)="electron.openFansWindow(replay.userid, replay.uname)">Fans</button>
            </section>
            <section class="title">
                <h3>{{ replay.title || 'Untitled' }}</h3>
                <button mat-icon-button matTooltip="Click to copy the replay id to the clipboard" (click)="electron.copyToClipboard(replay.vid)">ID</button>
                <button mat-icon-button matTooltip="Click to copy the replay url to the clipboard" (click)="electron.copyToClipboard(replay.hlsvideosource)">URL</button>
                <button mat-icon-button (click)="electron.openVideoPlayer(replay.hlsvideosource, replay.msgfile, replay.vtime)">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button [disabled]="replay.online == 1 || !download.isReady" (click)="download.addFromSearch(replay)" mat-icon-button>
                    <mat-icon>file_download</mat-icon>
                </button>
            </section>
            <section class="info">
                <div class="numberBlock">
                    <span class="number">{{ replay.countryCode }}</span>
                    <span class="label">country</span>
                </div>
                <div class="numberBlock">
                    <span class="number" matTooltip="{{ replay.vtime | amFromUnix | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}">{{ replay.vtime | amFromUnix | amTimeAgo }}</span>
                    <span class="label">{{ replay.online == 1 ? 'started' : 'streamed' }}</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.videolength * 1000 | duration }}</span>
                    <span class="label">length</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.watchnumber | number }}</span>
                    <span class="label">views</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.likenum | number }}</span>
                    <span class="label">likes</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.sharenum | number }}</span>
                    <span class="label">shares</span>
                </div>
            </section>
        </mat-card>
    </div>

    <div class="cardList" *ngIf="!error && users">
        <mat-card *ngFor="let user of users">
            <aside>
                <img [class.female]="user.sex == 0" [class.male]="user.sex == 1" src="{{ user.face }}">
                <div class="name">
                    <span>{{ user.nickname }}</span>             
                    <small *ngIf="electron.lastViewed(user.user_id) != -1">last viewed {{ electron.lastViewed(user.user_id) | amTimeAgo }}</small>
                </div>
            </aside>
            <main>
                <button mat-button (click)="electron.openProfile(user.user_id)">Replays</button>
                <button mat-button (click)="electron.openFollowingWindow(user.user_id, user.nickname)">Following</button>
                <button mat-button (click)="electron.openFansWindow(user.user_id, user.nickname)">Fans</button>
            </main>
        </mat-card>
    </div>

    <div class="error" *ngIf="error">{{ error }}</div>
    <div class="loading" *ngIf="!error && loading">
        <mat-spinner></mat-spinner>
    </div>
</main>