:host {
    display: block;
    margin-bottom: 10px;

    mat-card {
        padding: 10px;
        padding-top: 5px;

        section {
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;

            div.numberBlock {
                padding: 10px;
                padding-bottom: 0;
                display: inline-block;
    
                > span.number {
                    display: block;
                    font-size: 12pt;
                    text-align: center;
                }
    
                > span.label {
                    display: block;
                    text-align: center;
                    opacity: 0.6;
                    user-select: none;
                }
            }
        }

        section.title {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        section.title, section.title h3 {
            height: 45px;
            line-height: 45px;
        }

        section.title h3 {
            flex-grow: 1;
            flex-shrink: 1;
            padding-left: 5px;
        }

        section.info {
            div {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }

        section.buttons {
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 5px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 30px;
                border: 4px solid grey;
                overflow: hidden;
            }

            div.name {
                flex-grow: 1;
                flex-shrink: 1;
                text-align: center;

                span, small {
                    display: block;
                }

                span {
                    height: 30px;
                    line-height: 30px;
                }

                small {
                    line-height: 10px;
                    height: 10px;
                }
            }
        }
        
        abbr {
            text-decoration: none;
        }
    }
}