<mat-card *ngIf="replay" [class.new]="+isNew < (+replay.vtime * 1000)">
    <section class="title">
        <h3><mat-icon class="live" matTooltip="Live now" *ngIf="replay.online == 1">fiber_manual_record</mat-icon>{{ replay.title || 'Untitled' }}</h3>
        <button mat-icon-button matTooltip="Click to copy the video id to the clipboard" (click)="electron.copyToClipboard(replay.vid)">ID</button>
        <button mat-icon-button matTooltip="Click to copy the video url to the clipboard" (click)="electron.copyToClipboard(videoURL)">URL</button>
        <button mat-icon-button (click)="electron.openVideoPlayer(videoURL, replay.msgfile, replay.vtime)">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button (click)="download.addToQueue({ userid: '0', username: '0', videoid: replay.vid, videotitle: replay.title, videotime: replay.vtime, m3u8: videoURL })">
            <mat-icon>file_download</mat-icon>
        </button>
    </section>
    <section class="info">
        <div class="numberBlock">
            <span class="number" matTooltip="{{ replay.vtime | amFromUnix | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}">{{ replay.vtime | amFromUnix | amTimeAgo }}</span>
            <span class="label">{{ replay.online == 1 ? 'started' : 'streamed' }}</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ replay.videolength | duration }}</span>
            <span class="label">length</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ replay.watchnumber | number }}</span>
            <span class="label">views</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ replay.likenum | number }}</span>
            <span class="label">likes</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ replay.sharenum | number }}</span>
            <span class="label">shares</span>
        </div>
    </section>
</mat-card>