<input type="filter" [(ngModel)]="filter" placeholder="Filter users">
<main>
    <div class="cardList" *ngIf="followers">
        <mat-card *ngFor="let follower of followers" [hidden]="filter && !follower.uname.toLowerCase().startsWith(filter.toLowerCase())">
            <aside>
                <img [class.female]="follower.sex == 0" [class.male]="follower.sex == 1" src="{{ follower.face }}">
                <div class="name">
                    <span>{{ follower.uname }}</span>
                    <small *ngIf="electron.lastViewed(follower.uid) != -1">last viewed {{ electron.lastViewed(follower.uid) | amTimeAgo }}</small>
                </div>
            </aside>
            <main>
                <button mat-button (click)="electron.openProfile(follower.uid)">Replays</button>
                <button mat-button (click)="electron.openFollowingWindow(follower.uid, follower.uname)">Following</button>
                <button mat-button (click)="electron.openFansWindow(follower.uid, follower.uname)">Fans</button>
            </main>
        </mat-card>
    </div>
    <div class="error" *ngIf="error">{{ error }}</div>
    <div class="loading" *ngIf="!followers">
        <mat-spinner></mat-spinner>
    </div>
</main>