<input type="filter" [(ngModel)]="filter" placeholder="Filter users">
<main>
    <div class="cardList" *ngIf="fans">
        <mat-card *ngFor="let fan of fans" [hidden]="filter && !fan.uname.toLowerCase().startsWith(filter.toLowerCase())">
            <mat-icon *ngIf="electron.isFavourite(fan.uid)" class="overlay" color="primary">favorite</mat-icon>
            <mat-icon *ngIf="electron.isLiked(fan.uid)" class="overlay" color="primary">thumb_up</mat-icon>
            <aside>
                <img [class.female]="fan.sex == 0" [class.male]="fan.sex == 1" src="{{ fan.face }}">
                <div class="name">
                    <span>{{ fan.uname }}</span>
                    <small class="country">{{ fan.countryCode }}</small>                                        
                    <small *ngIf="electron.lastViewed(fan.uid) != -1">last viewed {{ electron.lastViewed(fan.uid) | amTimeAgo }}</small>
                </div>
            </aside>
            <main>
                <button mat-button (click)="electron.openProfile(fan.uid)">Replays</button>
                <button mat-button (click)="electron.openFollowingWindow(fan.uid, fan.uname)">Following</button>
                <button mat-button (click)="electron.openFansWindow(fan.uid, fan.uname)">Fans</button>
            </main>
        </mat-card>
    </div>
    <div class="error" *ngIf="error">{{ error }}</div>
    <div class="loading" *ngIf="!fans">
        <mat-spinner></mat-spinner>
    </div>
</main>