<mat-card *ngIf="stream">
    <section class="buttons">
        <img [class.female]="stream.sex == 0" [class.male]="stream.sex == 1" src="{{ stream.uface }}">
        <div class="name">
            <span>{{ stream.uname }}</span>
            <small *ngIf="electron.lastViewed(stream.userid) != -1">last viewed {{ electron.lastViewed(stream.userid) | amTimeAgo }}</small>
        </div>
        <button mat-button (click)="electron.openProfile(stream.userid)">Replays</button>
        <button mat-button (click)="electron.openFollowingWindow(stream.userid, stream.uname)">Following</button>
        <button mat-button (click)="electron.openFansWindow(stream.userid, stream.uname)">Fans</button>
    </section>
    <section class="title">
        <h3>{{ stream.title || 'Untitled' }}</h3>
        <button mat-icon-button matTooltip="Click to copy the video id to the clipboard" (click)="electron.copyToClipboard(stream.vid)">ID</button>
        <button mat-icon-button matTooltip="Click to copy the video url to the clipboard" (click)="electron.copyToClipboard(videoURL)">URL</button>
        <button mat-icon-button (click)="electron.openVideoPlayer(stream.hlsvideosource, stream.msgfile, stream.vtime)">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <!-- <button disabled mat-icon-button>
            <mat-icon>file_download</mat-icon>
        </button> -->
    </section>
    <section class="info">
        <div class="numberBlock">
            <span class="number" matTooltip="{{ stream.vtime | amFromUnix | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}">{{ stream.vtime | amFromUnix | amTimeAgo }}</span>
            <span class="label">started</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ stream.watchnumber | number }}</span>
            <span class="label">views</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ stream.likenum | number }}</span>
            <span class="label">likes</span>
        </div>
        <div class="numberBlock">
            <span class="number">{{ stream.sharenum | number }}</span>
            <span class="label">shares</span>
        </div>
    </section>
</mat-card>