<lmt-toolbar></lmt-toolbar>

<section *ngIf="user">
    <aside class="bg">
        <h3>{{ user.uname }}</h3>
        <button mat-button matTooltip="Click to copy the user id to the clipboard" (click)="electron.copyToClipboard(user.uid)">{{ user.uid }}</button>
        <img [src]="user.face" [class.female]="user.sex == 0" [class.male]="user.sex == 1">

        <div class="statistics">
            <div class="statistic">
                <div class="label">
                    level
                </div>
                <div class="value">
                    {{ user.level | number }}
                </div>
            </div>
            <div class="statistic">
                <div class="label">
                    country
                </div>
                <div class="value">
                    {{ user.countryCode }}
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="electron.openFollowingWindow(user.uid, user.uname)">
            following {{ user.following_count | number }}
        </button>

        <button mat-raised-button color="primary" (click)="electron.openFansWindow(user.uid, user.uname)">
            {{ user.fans_count | number }} fans
        </button>

        <div class="buttons">
            <button mat-icon-button (click)="handleFavourite()" color="{{ electron.isFavourite(user.uid) ? 'primary' : '' }}">
                <mat-icon>favorite</mat-icon>
            </button>

            <button mat-icon-button (click)="handleLike()" color="{{ electron.isLiked(user.uid) ? 'primary' : '' }}">
                <mat-icon>thumb_up</mat-icon>
            </button>
        </div>

        <div class="statistic" *ngIf="user.lastViewed != -1">
            <div class="label">
                last viewed
            </div>
            <div class="value">
                {{ user.lastViewed | amTimeAgo }}
            </div>
        </div>
    </aside>
    <main>
        <mat-card *ngFor="let replay of replays" [class.new]="user.lastViewed < (+replay.vtime * 1000)" [class.downloaded]="download.wasDownloaded(replay.vid)">
            <section class="title">
                <h3>
                    <mat-icon class="live" matTooltip="Live now" *ngIf="replay.online == 1">fiber_manual_record</mat-icon>
                    {{ replay.title || 'Untitled' }}
                </h3>
                <button mat-icon-button matTooltip="Click to copy the replay id to the clipboard" (click)="electron.copyToClipboard(replay.vid)">ID</button>
                <button mat-icon-button matTooltip="Click to copy the replay url to the clipboard" (click)="electron.copyToClipboard(replay.hlsvideosource)">URL</button>
                <button mat-icon-button (click)="electron.openVideoPlayer(replay.hlsvideosource, replay.msgfile, replay.vtime)">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button [disabled]="replay.online == 1 || !download.isReady || download.isInQueue(replay.vid)" mat-icon-button (click)="download.addToQueue({ userid: user.uid, username: user.uname, videoid: replay.vid, videotitle: replay.title, videotime: replay.vtime, m3u8: replay.hlsvideosource })">
                    <mat-icon>file_download</mat-icon>
                </button>
            </section>
            <section class="info">
                <div class="numberBlock">
                    <span class="number" matTooltip="{{ replay.vtime | amFromUnix | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}">{{ replay.vtime | amFromUnix | amTimeAgo }}</span>
                    <span class="label">{{ replay.online == 1 ? 'started' : 'streamed' }}</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.videolength | duration }}</span>
                    <span class="label">length</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.watchnumber | number }}</span>
                    <span class="label">views</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.likenum | number }}</span>
                    <span class="label">likes</span>
                </div>
                <div class="numberBlock">
                    <span class="number">{{ replay.sharenum | number }}</span>
                    <span class="label">shares</span>
                </div>
            </section>
        </mat-card>

        <div class="error" *ngIf="replays && replays.length == 0">No replays were found for this user</div>
        <div class="loading" *ngIf="!replays && !replayError">
            <mat-spinner></mat-spinner>
        </div>
        <div class="error" *ngIf="replayError">{{ replayError }}</div>
    </main>
</section>
<div *ngIf="!user && !userError" class="loading">
    <mat-spinner></mat-spinner>
</div>
<div class="error" *ngIf="userError">{{ userError }}</div>