<mat-toolbar color="primary">
    <button mat-button routerLink="/favourites">Favourites</button>
    <button mat-button routerLink="/likes">Likes</button>
    <button mat-button routerLink="/search">Search</button>
    <button mat-button routerLink="/live" disabled>Live</button>

    <div class="fill"></div>

    <button mat-icon-button (click)="openSettings()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button disabled>
        <mat-icon>file_download</mat-icon>
    </button>
</mat-toolbar>