:host {
    overflow: hidden;
    
    input {
        padding: 10px;
        border: 0;
        width: 100vw;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        outline: none !important;
    }

    > main {
        height: calc(100vh - 36px);
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;

        > div.error, > div.loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            user-select: none;
        }
    
        > div.cardList {
            display: flex;
            flex-flow: column;
            flex-wrap: nowrap;
            padding: 10px;
            padding-bottom: 5px;

            mat-card[hidden] {
                display: none !important;
            }

            mat-card {
                margin-bottom: 10px;
                padding: 5px;

                display: flex;
                flex-flow: column;
                flex-wrap: nowrap;
                user-select: none;

                mat-icon.overlay {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 0;
                    pointer-events: none;
                    opacity: 0.2;
                }

                aside, main {
                    display: flex;
                    flex-flow: row;
                    flex-wrap: nowrap;
                    z-index: 100;
                }

                aside {
                    padding-bottom: 3px;
                    line-height: 40px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 30px;
                        border: 4px solid grey;
                        overflow: hidden;
                    }

                    div.name {
                        flex-grow: 1;
                        flex-shrink: 1;
                        text-align: center;

                        span, small {
                            display: block;
                        }

                        span {
                            height: 27px;
                            line-height: 30px;
                        }

                        small {
                            line-height: 10px;
                            height: 10px;
                        }

                        small.country {
                            height: 14px;
                        }
                    }
                }

                main {
                    button[mat-button] {
                        flex-grow: 1;
                        flex-shrink: 1;
                        padding: 0;
                        min-width: 0;
                    }
                }
            }
        }
    }
}